#main-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

textarea,
button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#component-wrapper {

  blockquote {
    // position: relative;
    // margin: 1rem 0;
    // padding: 0.5rem;
    // border: 2px groove rgb(192, 192, 192);
    // display: flex;
    // flex-direction: column;

    table {
      border-spacing: 0;
      border-collapse: collapse;
      td,
      th {
        border: 2px groove rgb(192, 192, 192);
        padding: 0.5rem;
      }
      th {
        white-space: nowrap;
      }
    }
  }
  textarea {
    &#page-source {
      min-width: min(80vw, 50rem);
      width: 100%;
      min-height: 0.5rem;
    }
    &#delete-source {
      min-width: min(80vw, 50rem);
      width: 100%;
      min-height: 20rem;
    }
  }
}

.countdown {
  min-width: min(80vw, 50rem);
  width: 100%;
  .warning {
    color: red;
  }

  .text {
    &.before {
      color: red;
    }
    &.after {
      color: green;
    }
  }

  .timer {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.copy-text {
  position: fixed;
  display: flex;
  right: 0rem;
  top: 0;
  border: 2px groove rgb(192, 192, 192);
  box-sizing: border-box;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  min-height: 4rem;
}
