@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700;900&display=swap");

:global(body),
:global(textarea),
:global(body input),
:global(body select) {
    font-family: Inter, "Noto Sans SC", "Noto Sans TC";
    font-size: 1rem;
    line-height: 1.5;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}