#main-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

input,
select,
button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#component-wrapper {
  position: relative;
  max-width: 960px;
  width: 100%;

  legend {
    border: 2px groove rgb(192, 192, 192);
    padding: 0 0.5rem;
  }

  .timer-custom input {
    width: 20rem;
  }
}

.generated {
  hr {
    margin: 1.5rem 0;
  }
  blockquote {
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem;
    border: 2px groove rgb(192, 192, 192);
  }

  a {
    display: flex;
    white-space: break-spaces;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}

.copy-text {
  position: fixed;
  display: flex;
  right: 0rem;
  top: 0;
  border: 2px groove rgb(192, 192, 192);
  box-sizing: border-box;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  min-height: 4rem;
}
