#countdown-wrapper {
    .warning {
        color: red;
    }

    .text {
        &.before {
            color: red;
        }
        &.after {
            color: green;
        }
    }

    .timer {
        font-size: 1.2rem;
        font-weight: bold;
    }
}
